*{
    padding: 0;
    margin: 0;
}
.header{
    height: 90vh;
background-image: linear-gradient(90deg, #5e5c5e 0% ,#9dc5c3de 40%, transparent 40%) ,url('a.png');
background-size: cover;
}
.menu{
    display: flex;
    justify-content: center;

    padding: 15px;
    font-size: 20px;
    list-style-type: none;
    color: white;


}
li{
    
margin: 0 12px;
cursor: pointer;

}
.home{
    background: rgb(154, 235, 154);
    border-radius: 50px;
    padding: 5px;
    margin-top: -3px;
    transition: all 0.3s;
    
}
.home:hover{

background: rgb(92, 152, 92)


}
.text{
    width: 40%;
    height: 77vh;
display: grid;
grid-template-columns: repeat(6 , 1fr);
grid-template-rows: repeat(5 , 1fr);

}
.welcom{
    display: grid;
    grid-column: 2/6;
    grid-row: 2/3;
}
.lorem{
    display: grid;
    grid-column: 2/6;
    grid-row: 3/5;

}
.btn{
    display: grid;
    grid-row: 5/5;
    grid-column: 3/3;
    align-self: center;
    width: 120px;
    border-radius: 50px;
    border: none;
    height: 30px;
place-items: center;
cursor: pointer;
background-color: #eae;
transition: all 0.3s;

}
.btn:hover{
    background-color: rgb(162, 78, 168);
}